body, html {
  height: 100%;
  width: 100%;
}
#pomodoro_dashboard {
  font-family: 'Lato', sans-serif;
}

.dashboard-content {
  height: 100vh;
}
.slightShadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
}

/**********       Dashboard       ***************/

.dashboard-container {
  background-color: #f2f2f2;
}


.card-container{
  display: flex;
}
.dashboard-card, .card-lg, .card-extra-lg {
  flex: 1;
  height: 190px;
  background-color: #fff;
  margin: 25px;
  padding: 10px;
}
.card-lg, .card-extra-lg {
  position: relative;
  min-height: 500px;
}

.card-extra-lg {
  flex: 4;
  padding: 0;
}

.card-heading {
  color: #666;
  font-weight: lighter;
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 16pt;
}

.card-container .md-fab.tasks-add-button {
  position: absolute;
  top: -3.5vh;
  right: 10px;
  background-color: #F9A053;
}
.card-container .md-fab.md-hue-2.tasks-add-button:hover {
  background-color: #E47C4A;
}


/** TASKS **/
.tasks-weekly-container {
  display: flex;
  height: 100%;
}
.tasks-day-container {
  flex: 1;
  border-right: 1px solid #bbb;
  height: 100%;
}
.tasks-day-container h3 {
  text-align: center;
  color: #999;
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #bbb;
  font-size: 16px;
  font-weight: lighter;
}


    /***** OVERLAY *****/
    .addtask-overlay {
      z-index: 101;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0,0,0, 0.5);
      display: none;
    }
    .addtask-container {
      position: relative;
      opacity: 0;
      height: 500px;
      width: 30%;
      background-color: #fff;
      margin: auto;
      margin-top: 12%;
    }

    .addtask-inputs-container {
      position: relative;
      top: 18px;
      margin: 0 auto;
      width: 75%;
    }

    .addtask-button {
      position: absolute;
      bottom: 4pt;
      right: 4pt;
    }

    /***************************************/

<<<<<<< HEAD
=======

    /************APPENDED TASK**************/

    .task-container {
      box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    }
    .monday {
      background-color: #E3F2FD;
    }
    .task-name, .task-description, .task-time {
      margin: 5px 0;
      padding: 0 5px;
    }
    .task-name, .task-time {
      color: #999;
      font-size: 12px;
    }
    .task-name {
      text-align: center;
    }

    /***************************************/
>>>>>>> development
/**********       SIDENAV       ***************/
.nav-container {
  margin: 10px;
  padding: 0;
  border-radius: 5px;
}
.nav-content {
  height: 100%;
}
.nav-item {
  width: 100%;
  text-decoration: none;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  transition: all 300ms linear;
}
.nav-item:hover {
  background-color: #F0F0F0;
}
.nav-text {
  text-transform: capitalize;
  font-size: 14pt;
  font-weight: lighter;
}

.sn-profile-icon, .sn-timer-icon, .sn-cog-icon {
  font-size: 16pt;
  margin-right: 15px;
}

.current-active, .current-active:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #E47C4A;
}


.text-white {
  color: #f2f2f2;
}
.text-black {
  color: #666;
}

.row-underline {
  border-bottom: #666 1px solid;
}


/**********************ANIMATIONS**********************/

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 0.2s ease-in forwards;
}
/**********ANGULAR STYLING OVERRIDES**************/
.shorter-input {
  width: 109px;
}
<<<<<<< HEAD
=======
.medium-input {
  width: 125px;
}

.md-select-menu-container {
  z-index: 102;
}
>>>>>>> development


md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #FF5A1B;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #FF5A1B;
}
md-input-container textarea.md-input {
  min-height: 100px;
  max-height: 100px;
}
.md-toolbar-tools {
  background-color: #F9A053;
}

.md-button.md-default-theme.md-fab:not([disabled]).md-focused, .md-button.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-fab:not([disabled]):hover {
  background-color: #E47C4A;
}
