<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pomodoro Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css" type="text/css" rel="stylesheet">
    <link href="./css/pomodoro-styling.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <!--NG App-->
    <script type="text/javascript" src="./src/app.js"></script>

    <!--Services-->
    <script type="text/javascript" src="./src/services/localstorage_manager-service.js"></script>
    <script type="text/javascript" src="./src/services/addtask_manager-service.js"></script>
    <script type="text/javascript" src="./src/services/set_variable-service.js"></script>

    <!--Controllers-->
    <script type="text/javascript" src="./src/controllers/pomodoro-dashboard-controller.js"></script>
    <script type="text/javascript" src="./src/controllers/addtask-controller.js"></script>
    <script type="text/javascript" src="./src/controllers/tasks-controller.js"></script>
    <script type="text/javascript" src="./src/controllers/subtasks-controller.js"></script>
    <script type="text/javascript" src="./src/controllers/dashboard-pomodoro-controller.js"></script>
    <script type="text/javascript" src="./src/controllers/dashboard-weekly-controller.js"></script>
    <script type="text/javascript" src="./src/controllers/sideNav-controller.js"></script>


  </head>
  <body ng-app="pomodoro">
    <div ng-controller="pomodoro-dashboard" layout="column" ng-cloak id="pomodoro_dashboard">

      <section layout="row" flex class="dashboard-content">

            <md-sidenav
              class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')"
              md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
              <h1 class="md-toolbar-tools">Dashboard</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="sideNav" class="nav-content">
              <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
              </md-button>

                <div layout="row" class="nav-container">
                  <a href="" class="nav-item current-active">
                    <div flex class="nav-text text-white">
                      <i class="fa fa-user-circle sn-profile-icon" aria-hidden="true"></i> Profile
                    </div>
                  </a>
                </div>

                <div layout="row" class="nav-container">
                  <a href="" class="nav-item">
                    <div flex class="nav-text text-black">
                      <i class="fa fa-clock-o sn-timer-icon" aria-hidden="true"></i>Pomodoro Timer
                    </div>
                  </a>
                </div>

                <div layout="row" class="nav-container">
                  <a href="" class="nav-item">
                    <div flex class="nav-text text-black">
                      <i class="fa fa-cog sn-cog-icon" aria-hidden="true"></i>Settings
                    </div>
                  </a>
                </div>

            </md-content>

          </md-sidenav>

      <md-content flex layout-padding class="dashboard-container">

        <div class="card-container">
          <div ng-controller="tasks" class="dashboard-card slightShadow">
            <h3 class="card-heading">Tasks Completed - {{ tasksCompleted }}</h3>
            <p>Avg Per Week - {{ avgTasksWeek }}</p>
            <p>Day of Most - {{ dayOfMostTask }}</p>
            <p>Project With Most -  {{ projectMostTasks }}</p>
          </div>

          <div ng-controller="subtasks" class="dashboard-card slightShadow">
            <h3 class="card-heading">Sub Tasks - {{ subTasksLeft }}</h3>
            <p> Completed Sub Tasks - {{ subTasksCompleted }}</p>
          </div>
          <div ng-controller="dashboard-pomodoro" class="dashboard-card slightShadow">
            <h3 class="card-heading">Pomodoros Done - {{ totalPomodoros }}</h3>
            <p>Avg Per Week - {{ avgWeekPomodoro }}</p>
            <p>Day of Most - {{ dayOfMostPomodoros }}</p>
          </div>
          <div class="dashboard-card slightShadow">
            <h3 class="card-heading">Active Project</h3>
          </div>
        </div>

        <div ng-controller="dashboard-weekly" class="card-container">

          <div class="addtask-overlay">
            <div class="addtask-container">
              <div class="addtask-inputs-container">
                <md-input-container class="taskname md-block" flex-gt-sm>
                  <label>New Task Name</label>
                  <input id="addtask-taskname" ng-model="taskName">
                </md-input-container>

                <md-input-container class="taskdescription md-block">
                  <label>Description</label>
                  <textarea id="addtask-taskdescription" ng-model="taskDescription" md-maxlength="100" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="taskday md-block medium-input" flex-gt-sm>
                  <label>Day</label>
                  <md-select id="addtask-taskday" ng-model="taskDay">
                    <md-option ng-repeat="day in daysObj" ng-value="day.day">
                      {{day.day}}
                    </md-option>
                  </md-select>
                </md-input-container>

                <md-input-container class="timeestimate md-block medium-input" flex-gt-sm>
                  <label>Time Estimate</label>
                  <input id="addtask-timeestimate" ng-model="timeEstimate">
                </md-input-container>
              </div>

              <md-button class="md-raised md-warn addtask-button" ng-click="addTask(taskName, taskDescription, timeEstimate, taskDay)">Add Task</md-button>
              <md-button class="md-raised md-warn edittask-button" ng-click="editTask(taskDay)">Edit Task</md-button>

            </div>
          </div>

          <div class="card-extra-lg slightShadow">
            <md-button class="md-fab tasks-add-button" aria-label="Profile" ng-click="showAddTask();">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </md-button>
            <div class="tasks-weekly-container">
              <div class="tasks-day-container tasks-monday">
                <h3>Monday</h3>
                <div ng-repeat="task in taskArrMonday">
                  <div task></div>
                </div>
              </div>
              <div class="tasks-day-container tasks-tuesday">
                <h3>Tuesday</h3>
                <div ng-repeat="task in taskArrTuesday">
                  <div task></div>
                </div>
              </div>
              <div class="tasks-day-container tasks-wednesday">
                <h3>Wednesday</h3>
                <div ng-repeat="task in taskArrWednesday">
                  <div task></div>
                </div>
              </div>
              <div class="tasks-day-container tasks-thursday">
                <h3>Thursday</h3>
                <div ng-repeat="task in taskArrThursday">
                  <div task></div>
                </div>
              </div>
              <div class="tasks-day-container tasks-friday">
                <h3>Friday</h3>
                <div ng-repeat="task in taskArrFriday">
                  <div task></div>
                </div>
              </div>
              <div class="tasks-day-container tasks-saturday">
                <h3>Saturday</h3>
                <div ng-repeat="task in taskArrSaturday">
                  <div task></div>
                </div>
              </div>
              <div class="tasks-day-container tasks-sunday">
                <h3>Sunday</h3>
                <div ng-repeat="task in taskArrSunday">
                  <div task></div>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div layout-xs="column" layout="row" class="md-padding">


          <div>
            <md-button ng-click="toggleLeft()"
              class="md-primary" hide-gt-md>
              Toggle left
            </md-button>
          </div>
        </div>

        <div flex></div>

      </md-content>

      </section>
    </div>
  </body>
</html>
